<div class="owl-carousel banner" appOwlcarousel [owlOptions]="owlCarouselOptions">
    <div class="slide item" style="background-image: url(../../../assets/images/bg-1.png);">
        <div class="slide-Content">
            <h1 class="title">領養代替購買</h1>
            <p>狗不是我們人一生的全部，但牠卻讓我們的人生完整了</p>
            <p>——生態攝影師 羅傑、卡拉斯</p>
        </div>
    </div>
    <div class="slide item">
        <div class="slide-Content">
            <h1 class="title">領養代替購買</h1>
            <p>狗不是我們人一生的全部，但牠卻讓我們的人生完整了</p>
            <p>——生態攝影師 羅傑、卡拉斯</p>
        </div>
    </div>
</div>