@use '../programs-style/basic.scss';

.brand{
    img{
        height: 100%;
        width: 100%;
    }
}

.navbar{
    .navbar-nav{
        .nav-item{
            .nav-link{
                color:white;
                font-size: 24px;

                &:hover{
                    color: basic.$color-4-hex;
                    border-bottom: 2px solid basic.$color-4-hex;
                }
            }
        }
    }
}