@use '../../programs-style/basic.scss';
.banner{
    height: 100vh;
}

.adoption{

    .adopt-title{
        font-size: 3rem;
        text-shadow: 5px 2px 5px;
        color: basic.$color-4-hex;
        letter-spacing: 15px;
    }

    @include basic.breakpoint(small) { 
        height: 50vh;
    }

    .adopt-container{
        @include basic.breakpoint(small) { 
            overflow: hidden;
        }
        @include basic.breakpoint(medium) { 
            overflow-y: scroll;
        }
    }
    
}