/* Color Theme Swatches in Hex */
$color-1-hex: #4586BF;
$color-2-hex: #3F8EBF;
$color-3-hex: #77B3D9;
$color-4-hex: #F28322;
$color-5-hex: #D93611;

/* Color Theme Swatches in RGBA */
$color-1-rgba: rgba(68,134,191, 1);
$color-2-rgba: rgba(63,142,191, 1);
$color-3-rgba: rgba(119,179,216, 1);
$color-4-rgba: rgba(242,131,33, 1);
$color-5-rgba: rgba(216,53,17, 1);

/* Color Theme Swatches in HSLA */
$color-1-hsla: hsla(208, 48, 51, 1);
$color-2-hsla: hsla(202, 50, 49, 1);
$color-3-hsla: hsla(202, 56, 65, 1);
$color-4-hsla: hsla(28, 89, 54, 1);
$color-5-hsla: hsla(11, 85, 45, 1);

$color-white:#FFFFFF;


* {
    font-family: "微軟正黑體", arial;
  }