<div class="container text-right py-2">
    <button class="btn btn btn-outline-info" (click)='GetTop30()'>more</button>
</div>
<div class="row justify-content-center h-100">
    
    <div class="col-12 col-md-3 adopt-card" *ngFor="let item of adoptionPromote">
        <div class="face face1">
            <div class="content">
                <img class="img-thumbnail" src="{{item.album_file}}" alt="">
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <div class="row no-gutters">
                    <div class="col-4 text-center border px-2">動物類型</div>
                    <div class="col-8 text-center border px-2">{{item.animal_kind}}</div>
                </div>
                <div class="row no-gutters">
                    <div class="col-4 text-center border px-2">動物性別</div>
                    <div class="col-8 text-center border px-2">{{item.animal_sex | sex}}</div>
                </div>
                <div class="row no-gutters">
                    <div class="col-4 text-center border px-2">動物體型</div>
                    <div class="col-8 text-center border px-2">{{item.animal_bodytype | bodyType}}</div>
                </div>
                <div class="row no-gutters">
                    <div class="col-4 text-center border px-2">動物毛色</div>
                    <div class="col-8 text-center border px-2">{{item.animal_colour}}</div>
                </div>
                <div class="row no-gutters">
                    <div class="col-4 text-center border px-2">是否絕育</div>
                    <div class="col-8 text-center border px-2">{{item.animal_sterilization | sterilization}}</div>
                </div>
                <div class="row no-gutters">
                    <div class="col-4 text-center border px-2">施打狂犬疫苗</div>
                    <div class="col-8 text-center border px-2">{{item.animal_bacterin | bacterin}}</div>
                </div>
                <div class="row no-gutters">
                    <div class="col-4 text-center border px-2">收容所</div>
                    <div class="col-8 text-center border px-2 text-word-break-all" title="{{item.shelter_name}}">{{item.shelter_name}}</div>
                </div>
                <div class="row no-gutters">
                    <div class="col-4 text-center border px-2">電話</div>
                    <div class="col-8 text-center border px-2">{{item.shelter_tel}}</div>
                </div>
                <div class="row no-gutters">
                    <div class="col-4 text-center border px-2">地址</div>
                    <div class="col-8 text-center border px-2 text-word-break-all" title="{{item.shelter_address}}">{{item.shelter_address}}</div>
                </div>
            </div>
        </div>
    </div>
</div>