
<div class="row justify-content-center h-100">
    <div class="col-12 col-md-3 adopt-card">
        <div class="face face1">
            <div class="content">
                <img class="img-thumbnail"
                    src="https://asms.coa.gov.tw/amlapp/upload/pic/f67605a0-be32-41ee-ad62-f7a10dad788c_org.jpg" alt="">
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad vero magnam aspernatur.</p>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-3 adopt-card">
        <div class="face face1">
            <div class="content">
                <img class="img-thumbnail"
                    src="https://asms.coa.gov.tw/amlapp/upload/pic/f67605a0-be32-41ee-ad62-f7a10dad788c_org.jpg" alt="">
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad vero magnam aspernatur.</p>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-3 adopt-card">
        <div class="face face1">
            <div class="content">
                <img class="img-thumbnail"
                    src="https://asms.coa.gov.tw/amlapp/upload/pic/f67605a0-be32-41ee-ad62-f7a10dad788c_org.jpg" alt="">
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad vero magnam aspernatur.</p>
            </div>
        </div>
    </div>
</div>