/* You can add global styles to this file, and also import other style files */
@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);


* {
    font-family: "‘cwTeXYen’, sans-serif, 微軟正黑體", arial;
  }
body{
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(234,247,255);
    background-color: linear-gradient(180deg, rgba(234,247,255,1) 0%, rgba(170,222,255,1) 20%, rgba(145,211,252,1) 45%, rgba(213,239,255,1) 78%, rgba(249,248,248,1) 100%);
  }

  app-root{
    @import './app/programs-style/basic.scss';
}